.container{
    width: 100%;
    margin: 0 auto;}
header{
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
}
.box{
    width: 70%;
    height: 700px;
    background-color: rgb(238, 55, 86);
    border-radius: 50px;
   margin: 5px;
   position: relative;
   position: absolute;
   left: 220px;
}
.a1{
    position: absolute;
    left: 130px;
    top: 50px;
}
.a1>.b1{
    width: 300px;
    height: 200px;
    float: left;
    background-color: blueviolet;
    margin: 5px;
    border-radius: 10px;
   
   
}
.b1>img{
    border-radius: 10px;
}

