header{
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
}
.box{
    width: 90%;
    height: 700px;
    background-color: rgb(238, 55, 86);
    border-radius: 50px;
   margin: 5px;
   position: relative;
   position: absolute;
   left: 70px;
   
}
.a1{
    position: absolute;
    left: 95px;
    top: 50px;
}
.a1>.b1{
    width: 450px;
    height: 200px;
    float: left;
    background-color: blueviolet;
    margin: 10px;
    border-radius: 10px;
   
   
}
.b2{
    width: 170px;
    height: 200px;
    margin: 5px;
    float: left;
}
img{
    float: left;
    
        
}
.a1>.b2>img{
    margin: 20px;
}



